
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<main>
  <section class="container">

    <header>Registration form</header>
    
    <form>
      <div class="column">
        <div class="input-box">
          <input type="text" placeholder="First name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Last name">
        </div>
      </div>

      <div class="input-box">
        <input type="email" placeholder="Email">
      </div>

      <div class="column">
        <div class="input-box">
          <input type="number" placeholder="Phone number">
        </div>
        <div class="input-box">
          <input type="date" placeholder="Date Of Birth">
        </div>
      </div>
    </form>
  </section>

</main>

<router-outlet></router-outlet>
